<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>constract tree </title>
    <script src="/javascripts/echarts.min.js"></script>
    <script src="/javascripts/jquery-3.3.1.js"></script>
</head>
<body>
        <div id="main" style="width:100%;height:400px;"></div>
        <script type="text/javascript">
            var myChart = echarts.init(document.getElementById('main'));
           
            myChart.setOption(option = {
                title:{
                    show:true,
                    text:'constract overview',

                },
        tooltip: {
            trigger: 'item',
            triggerOn: 'mousemove'
        },
        series: [
            {
                type: 'tree',
                data: [
                    {
                        name:'constract',
                        children:[
                           {name: '<%= ConstractName[0]%>',
                           symbol:'diamond',
                            children:[
                                {name:'<%= ApprovalNumber[0]%>',symbol:'pin'},
                                {name:'<%= ContactPersonnel[0]%>',symbol:'pin'},
                                {name:'<%= OwnershipSystem[0]%>',symbol:'pin'},
                            ]},
                           {name:'<%= ConstractName[1]%>',
                           symbol:'diamond',
                           children:[
                                {name:'<%= ApprovalNumber[1]%>',symbol:'pin'},
                                {name:'<%= ContactPersonnel[1]%>',symbol:'pin'},
                                {name:'<%= OwnershipSystem[1]%>',symbol:'pin'},
                            ]
                        },
                           {name:'<%= ConstractName[2]%>',
                           symbol:'diamond',
                           children:[
                                {name:'<%= ApprovalNumber[2]%>',symbol:'pin'},
                                {name:'<%= ContactPersonnel[2]%>',symbol:'pin'},
                                {name:'<%= OwnershipSystem[2]%>',symbol:'pin'},
                            ]
                        },
                           {name:'<%= ConstractName[3]%>',
                           symbol:'diamond',
                           children:[
                                {name:'<%= ApprovalNumber[3]%>',symbol:'pin'},
                                {name:'<%= ContactPersonnel[3]%>',symbol:'pin'},
                                {name:'<%= OwnershipSystem[3]%>',symbol:'pin'},
                            ]
                        },
                        {name:'<%= ConstractName[4]%>',
                           symbol:'diamond',
                           children:[
                                {name:'<%= ApprovalNumber[4]%>',symbol:'pin'},
                                {name:'<%= ContactPersonnel[4]%>',symbol:'pin'},
                                {name:'<%= OwnershipSystem[4]%>',symbol:'pin'},
                            ]
                        },
                        {name:'<%= ConstractName[5]%>',
                           symbol:'diamond',
                           children:[
                                {name:'<%= ApprovalNumber[5]%>',symbol:'pin'},
                                {name:'<%= ContactPersonnel[5]%>',symbol:'pin'},
                                {name:'<%= OwnershipSystem[5]%>',symbol:'pin'},
                            ]
                        },
                        ]
                    }
                ],

                top: '1%',
                left: '7%',
                bottom: '1%',
                right: '20%',

                symbolSize: 7,

                label: {
                    normal: {
                        position: 'left',
                        verticalAlign: 'middle',
                        align: 'right',
                        fontSize: 9
                    }
                },

                leaves: {
                    label: {
                        normal: {
                            position: 'right',
                            verticalAlign: 'middle',
                            align: 'left'
                        }
                    }
                },

                expandAndCollapse: true,
                animationDuration: 550,
                animationDurationUpdate: 750
            }
        ]
    });
        </script>    
</body>
</html>